<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- owl-carsoul -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- font-awsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- css for swiper.js -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- for teams-swiper.js -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- header -->

    <header class="header-top">
      <div class="header-info">
        <div class="info-item">
          <span
            ><i class="fa-solid fa-location-dot"></i> Address : wisigaton Ipsum
            loram</span
          >
        </div>
        <div class="info-item">
          <span
            ><i class="fa-solid fa-envelope"></i> Email : demo@gmail.com</span
          >
        </div>
        <div class="info-item">
          <span
            ><i class="fa-solid fa-phone"></i> Phone Call : +01
            123455678990</span
          >
        </div>
      </div>
    </header>

    <!-- --------------- -->
    <!-- 2nd -header -->
    <nav class="header-nav">
      <div class="nav-left">
        <button class="menu-button"><i class="fa-solid fa-bars"></i></button>
      </div>
      <div class="nav-center">
        <h1>PrimeCare</h1>
      </div>
      <div class="nav-right">
        <button class="nav-button">
          LOGIN <i class="fa-solid fa-address-book"></i>
        </button>
        <button class="nav-button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </nav>

    <!-- banner -->

    <div class="main-banner-section" id="main-banner-section">
      <div class="swiper mySwiperQuote">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <section class="banner-section" id="banner-section">
              <div class="main-container">
                <div class="overlay-left">
                  <h2>
                    Baby <br />
                    Care Center
                  </h2>
                  <div class="banner-button">
                    <button class="btn">Read More</button>
                  </div>
                </div>

                <div class="overlay-right">
                  <div class="banner-button">
                    <button class="btn">Read More</button>
                  </div>
                  <h2>
                    We will take <br />
                    care of <br />your baby
                  </h2>
                </div>
              </div>
            </section>
          </div>
          <div class="swiper-slide">
            <section class="banner-section" id="banner-section">
              <div class="main-container">
                <div class="overlay-left">
                  <h2>
                    Baby <br />
                    Care Center
                  </h2>
                  <div class="banner-button">
                    <button class="btn">Read More</button>
                  </div>
                </div>

                <div class="overlay-right">
                  <div class="banner-button">
                    <button class="btn">Read More</button>
                  </div>
                  <h2>
                    We will take <br />
                    care of <br />your baby
                  </h2>
                </div>
              </div>
            </section>
          </div>

          <div class="swiper-slide">
            <section class="banner-section" id="banner-section">
              <div class="main-container">
                <div class="overlay-left">
                  <h2>
                    Baby <br />
                    Care Center
                  </h2>
                  <div class="banner-button">
                    <button class="btn">Read More</button>
                  </div>
                </div>

                <div class="overlay-right">
                  <div class="banner-button">
                    <button class="btn">Read More</button>
                  </div>
                  <h2>
                    We will take <br />
                    care of <br />your baby
                  </h2>
                </div>
              </div>
            </section>
          </div>
          <div class="swiper-slide">
            <section class="banner-section" id="banner-section">
              <div class="main-container">
                <div class="overlay-left">
                  <h2>
                    Baby <br />
                    Care Center
                  </h2>
                  <div class="banner-button">
                    <button class="btn">Read More</button>
                  </div>
                </div>

                <div class="overlay-right">
                  <div class="banner-button">
                    <button class="btn">Read More</button>
                  </div>
                  <h2>
                    We will take <br />
                    care of <br />your baby
                  </h2>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- baby -->
    <section class="baby-section" id="baby-section">
      <div class="main-container">
        <div class="services-container">
          <div class="service-item">
            <img
              src="../images/service2.png"
              alt="Baby Clothes"
              class="service-icon"
            />
            <h3>Baby Clothes</h3>
            <p>
              Available, but the majority have suffered alteration in some form,
              by injected
            </p>
          </div>
          <div class="service-item">
            <img
              src="../images/service2.png"
              alt="Baby Clothes"
              class="service-icon"
            />
            <h3>Baby Clothes</h3>
            <p>
              Available, but the majority have suffered alteration in some form,
              by injected
            </p>
          </div>
          <div class="service-item">
            <img
              src="../images/service2.png"
              alt="Baby Clothes"
              class="service-icon"
            />
            <h3>Baby Clothes</h3>
            <p>
              Available, but the majority have suffered alteration in some form,
              by injected
            </p>
          </div>
          <div class="service-item">
            <img
              src="../images/service2.png"
              alt="Baby Clothes"
              class="service-icon"
            />
            <h3>Baby Clothes</h3>
            <p>
              Available, but the majority have suffered alteration in some form,
              by injected
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- about-us -->
    <section class="about-us-section" id="about-us-section">
      <div class="main-container">
        <div class="about-container">
          <div class="about-image">
            <img src="../images/about-img.jpg" alt="About Us" />
          </div>
          <div class="about-text">
            <h2>About Us</h2>
            <p>
              anything embarrassing hidden in the middle of text. All the Lorem
              Ipsum generators on the Internet tend to repeat predefined chunks
              as necessary, making this the first true generator on the Internet
              anything embarrassing hidden in the middle of text. All the Lorem
              Ipsum generators on the Internet tend to repeat predefined chunks
              as necessary, making this the first true generator on the Internet
              anything embarrassing hidden in the middle of text. All the Lorem
              Ipsum generators on the Internet tend to repeat
            </p>
            <div class="read-more-link">
              <a href="#" class="read-more">Read More</a>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- baby-sitter -->
    <section class="good-babysitters" id="good-babysitters">
      <div class="main-container">
        <div class="text-section">
          <h2>
            We Have Good <br />
            Babysitters
          </h2>
          <p>
            words which don't look even slightly believable. If you are going to
            use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text. All the Lorem
            Ipsum
          </p>
          <div class="read-more-link">
            <a href="#" class="read-more">Read More</a>
            <hr />
          </div>
        </div>
        <div class="image-section">
          <img src="../images/we_img.jpg" alt="Good Babysitters" />
        </div>
      </div>
    </section>

    <!-- choose-us -->
    <section class="choose-section" id="choose-section">
      <div class="main-conatiner">
        <section class="why-choose-us">
          <h2>Why Choose Us</h2>
          <p class="subtitle">
            words which don't look even slightly believable. If you are going to
            use a passage
          </p>
          <div class="services">
            <div class="service-item">
              <div class="icon">
                <img src="../images/why1.png" alt="Medical Care" />
              </div>
              <div class="medical-services">
                <h5>We have Medical Care For Baby</h5>
                <div class="read-more-link">
                  <a href="#" class="read-more">Read More</a>
                  <hr />
                </div>
              </div>
            </div>
            <div class="service-item">
              <div class="icon">
                <img src="../images/why2.png" alt="Babysitter" />
              </div>
              <div class="medical-services">
                <h5>We have Good Babysitter</h5>
                <div class="read-more-link">
                  <a href="#" class="read-more">Read More</a>
                  <hr />
                </div>
              </div>
            </div>
            <div class="service-item">
              <div class="icon">
                <img src="../images/why3.png" alt="Babysitter" />
              </div>
              <div class="medical-services">
                <h5>We have Good Babysitter</h5>
                <div class="read-more-link">
                  <a href="#" class="read-more">Read More</a>
                  <hr />
                </div>
              </div>
            </div>
            <div class="service-item">
              <div class="icon">
                <img src="../images/why4.png" alt="Babysitter" />
              </div>
              <div class="medical-services">
                <h5>We have Good Babysitter</h5>
                <div class="read-more-link">
                  <a href="#" class="read-more">Read More</a>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <!-- teams -->
    <section id="tranding">
      <div class="tranding-content">
        <h2 class="text-center section-subheading">Our Team</h2>
        <p class="text-center section-heading">
          words which don't look even slightly believable. If you are going to
          use a passage m
        </p>
      </div>
      <div class="container">
        <div class="swiper tranding-slider">
          <div class="swiper-wrapper">
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div>
                <div class="tranding-slide-img">
                  <img
                    src="../images/team1.jpg"
                    alt="Tranding"
                    height="284px"
                    width="263px"
                  />
                </div>
                <div class="tranding-slide-content">
                  <div class="tranding-slide-content-bottom">
                    <h6 class="food-name">Henry Billison</h6>

                    <div class="social-icons">
                      <a href="#"><i class="fa-brands fa-facebook"></i></a>
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img
                  src="../images/team2.jpg"
                  alt="Tranding"
                  height="284px"
                  width="263px"
                />
              </div>
              <div class="tranding-slide-content">
                <div class="tranding-slide-content-bottom">
                  <h6 class="food-name">Henry Billison</h6>

                  <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img
                  src="../images/team3.jpg"
                  alt="Tranding"
                  height="284px"
                  width="263px"
                />
              </div>
              <div class="tranding-slide-content">
                <div class="tranding-slide-content-bottom">
                  <h6 class="food-name">Henry Billison</h6>

                  <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img
                  src="../images/team4.jpg"
                  alt="Tranding"
                  height="284px"
                  width="263px"
                />
              </div>
              <div class="tranding-slide-content">
                <div class="tranding-slide-content-bottom">
                  <h6 class="food-name">Henry Billison</h6>

                  <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img
                  src="../images/team5.jpg"
                  alt="Tranding"
                  height="284px"
                  width="263px"
                />
              </div>
              <div class="tranding-slide-content">
                <div class="tranding-slide-content-bottom">
                  <h6 class="food-name">Henry Billison</h6>

                  <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img
                  src="../images/team3.jpg"
                  alt="Tranding"
                  height="284px"
                  width="263px"
                />
              </div>
              <div class="tranding-slide-content">
                <div class="tranding-slide-content-bottom">
                  <h6 class="food-name">Henry Billison</h6>

                  <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->

            <!-- Slide-end -->
          </div>
        </div>
      </div>
    </section>

    <!-- contact -->
    <section class="contact-section" id="contact-section">
      <div class="main-container">
        <div class="container">
          <h2>Get In Touch</h2>
          <form class="contact-form">
            <input type="text" name="name" placeholder="Full name" required />
            <div class="input-group">
              <input type="email" name="email" placeholder="Email" required />
              <input
                type="tel"
                name="phone"
                placeholder="Phone Number"
                required
              />
            </div>
            <textarea name="message" placeholder="Message" required></textarea>
            <div class="button">
              <button type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- testimony -->
    <section class="testimony-section" id="testimony-section">
      <div class="main-container">
        <section class="testimonial-section">
          <h2>Testimonial</h2>
          <div class="first-slider owl-carousel owl-theme">
            <div class="item">
              <div class="testimonial-container">
                <div class="testimonial-image">
                  <img src="../images/client.jpg" alt="Roocky Rom" />
                </div>
                <div class="testimonial-content">
                  <h4>Roocky Rom</h4>
                  <p class="role">Parante</p>
                  <p class="testimonial-text">
                    use a passage of Lorem Ipsum, you need to be sure there
                    isn't anything embarrassing hidden in the middle of text.
                    All the Lorem Ipsum generators on the Internet tend to
                    repeat predefined chunks as necessary, making this the first
                    true generator on the Internet. use a passage of Lorem
                    Ipsum, you need to be sure there isn't anything embarrassing
                    hidden in the middle of text. All the Lorem Ipsum generators
                    on the Internet tend to repeat predefined chunks as
                    necessary, making this the first true generator on the
                    Internet.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-container">
                <div class="testimonial-image">
                  <img src="../images/client.jpg" alt="Roocky Rom" />
                </div>
                <div class="testimonial-content">
                  <h3>Roocky Rom</h3>
                  <p class="role">Parante</p>
                  <p class="testimonial-text">
                    use a passage of Lorem Ipsum, you need to be sure there
                    isn't anything embarrassing hidden in the middle of text.
                    All the Lorem Ipsum generators on the Internet tend to
                    repeat predefined chunks as necessary, making this the first
                    true generator on the Internet. use a passage of Lorem
                    Ipsum, you need to be sure there isn't anything embarrassing
                    hidden in the middle of text. All the Lorem Ipsum generators
                    on the Internet tend to repeat predefined chunks as
                    necessary, making this the first true generator on the
                    Internet.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-container">
                <div class="testimonial-image">
                  <img src="../images/client.jpg" alt="Roocky Rom" />
                </div>
                <div class="testimonial-content">
                  <h3>Roocky Rom</h3>
                  <p class="role">Parante</p>
                  <p class="testimonial-text">
                    use a passage of Lorem Ipsum, you need to be sure there
                    isn't anything embarrassing hidden in the middle of text.
                    All the Lorem Ipsum generators on the Internet tend to
                    repeat predefined chunks as necessary, making this the first
                    true generator on the Internet. use a passage of Lorem
                    Ipsum, you need to be sure there isn't anything embarrassing
                    hidden in the middle of text. All the Lorem Ipsum generators
                    on the Internet tend to repeat predefined chunks as
                    necessary, making this the first true generator on the
                    Internet.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <!-- footer-1 -->
    <section class="footer-main-section" id="footer-section">
      <div class="main-container">
        <footer class="footer">
          <div class="footer-content">
            <div class="footer-section address">
              <h5>Address</h5>
              <p><i class="fa-solid fa-location-dot"></i>Location</p>
              <p><i class="fa-solid fa-phone"></i>Call +01 1234567890</p>
              <p><i class="fa-solid fa-envelope"></i>demo@gmail.com</p>
              <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </div>
            </div>
            <div class="footer-section navigation">
              <h5>Navigation</h5>
              <ul>
                <div class="part-1">
                  <li>
                    <a href="#"
                      ><i class="fa-solid fa-greater-than"></i> Home</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa-solid fa-greater-than"></i> Why Us</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa-solid fa-greater-than"></i> Testimonial</a
                    >
                  </li>
                </div>
                <div>
                  <li>
                    <a href="#"
                      ><i class="fa-solid fa-greater-than"></i> About</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa-solid fa-greater-than"></i> Our Team</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa-solid fa-greater-than"></i> Contact Us</a
                    >
                  </li>
                </div>
              </ul>
            </div>
            <div class="footer-section newsletter">
              <h5>Newsletter</h5>
              <form>
                <input
                  type="email"
                  placeholder="Enter Your email"
                  class="email-input"
                />
                <button type="submit" class="subscribe-button">
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </footer>
      </div>
    </section>

    <!-- footer-2 -->
    <section class="footer-2" id="footer-2">
      <div class="footer-bottom">
        <p>
          © 2024 All Rights Reserved. Design by Free Html Templates Distributed
          by ThemeWagon
        </p>
      </div>
    </section>

    <!-- for carosoul -->
    <!-- banner -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiperQuote ", {
        slidesPerView: 1,
        spaceBetween: 30,
        grabCursor: false,
        autoplay: {
          delay: 2500,
          disableOnInteration: false,
          pauseOnMouseEnter: true,
        },
        slidesPerGroup: 1,
        loop: false,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script>

    <!-- teams -->

    <!-- required for swiper -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
      var TrandingSlider = new Swiper(".tranding-slider", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        loop: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 0,
          stretch: 0,
          depth: 100,
          modifier: 2.5,
        },
      });
    </script>

    <!-- testimony -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- carousel-1 -->
    <script>
      $(".first-slider").owlCarousel({
        loop: true,
        margin: 10,
        dots: true,
        nav: false,
        autoplay: true,
        autoplayTimeout: 3000,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 1,
          },
          1000: {
            items: 1,
          },
        },
      });
    </script>
  </body>
</html>
